---
import ScrambleText from './ScrambleText.jsx';

const links = [
    {href: '/', text: '/index'},
    {href: '/about'},
    {href: '/sponsors'},
    {href: '/faq'}
];

const currentPath = Astro.url.pathname;
---

<nav class="fixed z-50 w-full px-4 pt-4" id="navbar">
    <div class="flex w-full max-w-6xl mx-auto flex-row items-center justify-between rounded-3xl border border-gray-700/50 bg-black/80 backdrop-blur-sm py-1 px-4">
        <a href="/" class="flex items-center h-14">
            <img
                    src="/HackTrinityWhiteTransparentShorter.svg"
                    alt="HackTrinity Logo"
                    class="h-32 w-auto object-contain"
            />
        </a>
        <div class="flex items-center gap-28 ml-8">
            {links.map((link) => (
                    <a
                            href={link.href}
                            class:list={[
                                'page-link font-mono text-slate-400 no-underline underline-offset-2 hover:text-slate-200 hover:underline active:text-slate-300 text-lg transition-colors duration-200',
                                {
                                    'text-white !underline': currentPath === link.href,
                                    '!text-sky-400': link.href === '/contact'
                                }
                            ]}
                    >
                        <ScrambleText
                                text={link.text || link.href}
                                settings={{
                                    speed: 0.2,
                                    tick: 1,
                                    scramble: 4,
                                    seed: 0,
                                    chance: 0.8,
                                    playOnMount: false
                                }}
                                client:load
                        />
                    </a>
            ))}
        </div>
    </div>
</nav>
<div class="h-16"></div>

<style>
    .current-page {
        @apply text-white !underline;
    }
</style>